.card{

    border: 1px solid #dfdfdf;
    width: 299px;
    padding: 20px;
    border-radius: 8px;
}

h3{
    font-size: 36px;
    color: #4D4D4D;
    text-align: center;
}


.description{
    color: #717171;
    font-size: 16px;
    text-align: center;
}

.card-img{
    margin-left: 110px;
}